@import "styles/global/variables.scss";

.layout {
  display: grid;
  grid-template-columns: 1.3fr 3fr;

  &__stepCounter {
    grid-column: 1 / 2;
    background-color: $gray7;
  }

  &__content {
    grid-column: 2 / 3;
    position: relative;
    background-color: $white;
  }
}

@media (max-width: $md) {
  .layout {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  
    &__stepCounter {
      grid-column: span 12;
      background-color: $white;
    }
  
    &__content {
      grid-column: span 12;
    }
  }
}
