@import "styles/global/variables.scss";

.layout {
  display: grid;
  grid-template-columns: repeat(2, 408px 952px);

  &__stepCounter {
    grid-column: span 1;
    background-color: $gray7;
  }

  &__content {
    grid-column: span 1;
  }
}

@media (max-width: $md) {
  .layout {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  
    &__stepCounter {
      grid-column: span 12;
      background-color: $white;
    }
  
    &__content {
      grid-column: span 12;
    }
  }
}
