@import "styles/global/variables.scss";

.layout {
  display: grid;
  grid-template-columns: 1.3fr 3fr;

  &__stepCounter {
    grid-column: 1 / 2;
    background-color: $gray7;
    z-index: 1;
  }

  &__content {
    grid-column: 2 / 3;
    position: relative;
    background-color: $white;
  }

  &.container {
    min-height: calc(100vh - 64px);
  }

  @include Large {
    &.container {
      min-height: calc(100vh - 74.88px);
    }
  }

  @include Small {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  
    &__stepCounter {
      grid-column: span 12;
      background-color: $white;
      position: sticky;
      top: 55px;
      z-index: 100;
    }
  
    &__content {
      grid-column: span 12;
    }
  }
}
