@font-face {
  font-family: "Lato-Light";
  src: url("/assets/fonts/Lato-Light.ttf");
  src: url("/assets/fonts/Lato-Light.ttf?#iefix") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Lato-Regular";
  src: url("/assets/fonts/Lato-Regular.ttf");
  src: url("/assets/fonts/Lato-Regular.ttf?#iefix") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Lato-Bold";
  src: url("/assets/fonts/Lato-Bold.ttf");
  src: url("/assets/fonts/Lato-Bold.ttf?#iefix") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Roboto-Light";
  src: url("/assets/fonts/Roboto-Light.ttf");
  src: url("/assets/fonts/Roboto-Light.ttf?#iefix") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("/assets/fonts/Roboto-Regular.ttf");
  src: url("/assets/fonts/Roboto-Regular.ttf?#iefix") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("/assets/fonts/Roboto-Medium.ttf");
  src: url("/assets/fonts/Roboto-Medium.ttf?#iefix") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
