$main: #EF3340;
$gray1: #494F66;
$gray2: #676F8F;
$gray3: #A3ABCC;
$gray4: #C5CBE0;
$gray5: #E4E8F7;
$gray6: #F0F2FA;
$gray7: #F7F8FC;
$gray8: #ecf0ff;
$acian1: #939DFF;
$acian2: #6769FF;
$green2: #43B748;
$bg: #ECF0FF;
$white: #FFFFFF;
$red3: #FC606B;
$green2: #43B748;

$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;