$main: #EF3340;
$gray1: #494F66;
$gray2: #676F8F;
$gray3: #A3ABCC;
$gray4: #C5CBE0;
$gray5: #E4E8F7;
$gray6: #F0F2FA;
$gray7: #F7F8FC;
$gray8: #ecf0ff;
$acian1: #939DFF;
$acian2: #6769FF;
$green2: #43B748;
$bg: #ECF0FF;
$white: #FFFFFF;
$red3: #FC606B;
$green2: #43B748;

$sm: 992px;
$md: 1360px;
$lg: 1600px;

$md-container: 1360px;
$lg-container: 1600px;

@mixin Small {
  @media (max-width: $sm) {
    @content;
  }
}

@mixin Large {
  @media (min-width: $lg) {
    @content;
  }
}
