@import "styles/global/variables.scss";

.generalFooter {
  height: 76px;
  display: flex;
  align-items: center;
  padding: 0 32px;
  border-top: 1px solid $gray5;
  font-size: 12px;
  font-family: Roboto-Regular;
  color: $gray3;
  letter-spacing: 0.2px;
  font-weight: 300;
}
