@import "styles/global/variables.scss";

.plansContainer {
  padding: 48px 96px;

  .buttonContainer {
    padding-bottom: 24px;
  }

  .plansContainer__title {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.6px;
    font-weight: 400;
    color: $gray1;
    font-family: Lato-Regular;
    padding-bottom: 8px;
  }

  .plansContainer__subtitle {
    color: $gray2;
  }

  .plansContainer__content {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-column-gap: 20px;
  }

  .contentLeft {

    &__banner {
      padding: 44px 0 44px;

      .carCard {
        width: 384px;
        border-radius: 12px;
        border: 3px solid $gray6;
        padding: 40px 32px;
        position: relative;

        &__plate {
          font-size: 12px;
          line-height: 20px;
          letter-spacing: 0.2px;
          color: $gray3;
          font-family: Roboto-Light;
        }

        &__brand {
          font-size: 20px;
          line-height: 28px;
          display: flex;
          color: $gray1;
          letter-spacing: 0.2px;
          font-family: Lato-Light;
        }

        &__model {
          font-size: 20px;
          line-height: 28px;
          display: flex;
          color: $gray1;
          font-family: Lato-Light;
        }

        a {
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.6px;
          color: #6F7DFF;
          font-family: Lato-Bold;
        }

        & > img {
          position: absolute;
          right: 16px;
          bottom: 0;
          width: 112px;
          height: 196px;
          object-fit: contain;
        }
      }
    }

    &__coverages {
    
      .coveragesTitle {
        font-size: 20px;
        line-height: 28px;
        color: $gray1;
        margin-bottom: 32px;
        font-family: Lato-Regular;
        font-weight: normal;
      }
    }
  }

  .contentRight {
    
    &__payment {
      width: 224px;
      margin: auto;
      position: sticky;
      top: 111px;

      .payment {
        display: flex;
        justify-content: space-between;
        padding-bottom: 19px;
        margin-bottom: 24px;
        border-bottom: 1px solid $gray5;

        &__amount {
          font-size: 28px;
          line-height: 36px;
          letter-spacing: -0.2px;
          color: $gray1;
          font-family: Lato-Light;
          margin-bottom: 4px;
        }

        p {
          font-size: 12px;
          line-height: 20px;
          text-align: center;
          letter-spacing: 0.2px;
          font-family: Roboto-Regular;
          color: $gray2;
        }
      }

      .paymentList {
        padding-bottom: 32px;

        &__title {
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.2px;
          color: $gray1;
          font-family: Lato-Light;
          margin-bottom: 12px;
        }

        &__item {
          font-size: 14px;
          line-height: 24px;
          display: flex;
          align-items: center;
          color: #676F8F;

          &::before {
            content: '';
            display: block;
            height: 8px;
            width: 10px;
            margin-right: 20px;
            background-size: contain;
            background-image: url('/assets/images/check.svg');
            background-repeat: no-repeat;
          }
        }
      }

      button.generalButton {
        width: 204px;
        height: 48px;
      }
    }
  }

  @include Large {
    padding: 56.16px 112.32px;

    .buttonContainer {
      padding-bottom: 28.08px;
    }
  
    .plansContainer__title {
      font-size: 46.8px;
      line-height: 56.16px;
      letter-spacing: -0.702px;
      font-weight: 400;
      padding-bottom: 9.36px;
    }
  
    .plansContainer__content {
      grid-column-gap: 23.4px;
    }
  
    .contentLeft {
      &__banner {
        padding: 51.48px 0 44px;
  
        .carCard {
          width: 449.28px;
          border-radius: 14.04px;
          border: 3.51px solid $gray6;
          padding: 46.8px 42.12px;
  
          &__plate {
            font-size: 14.04px;
            line-height: 23.4px;
            letter-spacing: 0.234px;
          }
  
          &__brand {
            font-size: 23.4px;
            line-height: 32.76px;
            letter-spacing: 0.234px;
          }
  
          &__model {
            font-size: 23.4px;
            line-height: 32.76px;
          }
  
          a {
            font-size: 14.04px;
            line-height: 18.72px;
            letter-spacing: 0.702px;
          }
  
          & > img {
            right: 18.72px;
            width: 131.04px;
            height: 229.32px;
          }
        }
      }
  
      &__coverages {
      
        .coveragesTitle {
          font-size: 23.4px;
          line-height: 32.76px;
          margin-bottom: 37.44px;
        }
      }
    }
  
    .contentRight {
      &__payment {
        width: 262.08px;
        top: 129.87px;
  
        .payment {
          padding-bottom: 22.23px;
          margin-bottom: 28.08px;
          border-bottom: 1.17px solid $gray5;
  
          &__amount {
            font-size: 32.76px;
            line-height: 42.12px;
            letter-spacing: -0.234px;
            margin-bottom: 4.68px;
          }
  
          p {
            font-size: 14.04px;
            line-height: 23.4px;
            letter-spacing: 0.234px;
          }
        }
  
        .paymentList {
          padding-bottom: 37.44px;
  
          &__title {
            font-size: 18.72px;
            line-height: 28.08px;
            letter-spacing: 0.234px;
            margin-bottom: 14.04px;
          }
  
          &__item {
            font-size: 16.38px;
            line-height: 28.08px;
  
            &::before {
              height: 9.36px;
              width: 11.7px;
              margin-right: 23.4px;
            }
          }
        }
  
        button.generalButton {
          width: 238.68px;
          height: 56.16px;
        }
      }
    }
  }

  @include Small {
    padding: 0;
  
    .buttonContainer {
      display: none;
    }
  
    .plansContainer__title {
      font-size: 28px;
      line-height: 36px;
      padding: 40px 32px 8px;
      background-color: $gray7;
    }
  
    .plansContainer__subtitle {
      background-color: $gray7;
      padding: 0 32px;
    }
  
    .plansContainer__content {
      display: grid;
      grid-template-columns: 1fr;
    }
  
    .contentLeft {
  
      &__banner {
        padding: 44px 32px 44px;
        background-color: $gray7;
        margin-bottom: 50px;
  
        .carCard {
          width: 100%;
          padding: 24px;
          background-color: $white;
          border: 3px solid $white;

          &__model {
            padding-bottom: 16px;
          }
  
          & > img {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 112px;
            height: 180px;
            object-fit: contain;
          }
        }
      }
  
      &__coverages {
      
        .coveragesTitle {
          font-size: 20px;
          line-height: 28px;
          color: $gray1;
          margin-bottom: 32px;
          padding: 0 32px;
          font-family: Lato-Regular;
          font-weight: normal;
        }
      }
    }
  
    .contentRight {
      
      &__payment {
        width: 100%;
        position: static;
        display: flex;
        padding: 16px 32px;
        align-items: center;
        margin-top: 56px;
        justify-content: space-between;
        box-shadow: 0px 1px 4px rgba(163, 171, 204, 0.06), 0px 8px 30px rgba(20, 43, 127, 0.1);
  
        .payment {
          display: flex;
          justify-content: space-between;
          padding-bottom: 0;
          margin-bottom: 0;
          border-bottom: none;

          img {
            display: none;
          }
  
          &__amount {
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 0;
          }
  
          p {
            font-size: 12px;
            line-height: 20px;
            text-align: left;
            font-family: Lato-Bold;
            color: $gray2;
            text-transform: uppercase;
          }
        }
  
        .paymentList {
          display: none;
        }
  
        button.generalButton {
          width: 168px;
          height: 44px;
          font-size: 12px;
        }
      }
    }
  }
}
