@import "styles/global/variables.scss";

.tabsComponent {
  width: 100%;

  &__container {
    display: flex;
    border-bottom: 1px solid $gray5;

    .tab {
      cursor: pointer;
      height: 56px;
      text-align: center;
      text-transform: uppercase;
      font-size: 10px;
      line-height: 16px;
      letter-spacing: 0.8px;
      padding: 0 10px;

      &__name {
        color: $gray1;
        white-space: pre-wrap;
      }

      &--active {
        border-bottom: 2px solid $main;

        .tab__name {
          color: $main;
        }
      }

      &[data-width="2"] {
        width: 50%;
      }

      &[data-width="3"] {
        width: 33.33%;
      }

      &:hover {
        border-bottom: 2px solid $main;
        .tab__name {
          color: $main;
        }
      }
    }
  }

  &__list {
    width: 100%;

    .listItem {
      width: 100%;
    }
  }

  @include Large {
    &__container {
      border-bottom: 1.17px solid $gray5;
  
      .tab {
        height: 65.52px;
        font-size: 11.7px;
        line-height: 18.72px;
        letter-spacing: 0.936px;
        padding: 0 11.7px;
  
        &--active {
          border-bottom: 2.34px solid $main;
        }
  
        &:hover {
          border-bottom: 2.34px solid $main;
        }
      }
    }
  }
}